<ul>
	<li>
		1) Set the arena coordinates (width and length):
	</li>
	<li>
		<span>
			<input type='number' ng-model='upperX'>
		</span>
		<span>
			<input type='number' ng-model='upperY'>
		</span>
	</li>
	<li>
		<span id='arenasize'>
			Arena size: {{upperX}} by {{upperY}}
		</span>
	</li>
</ul>
<ul>
	<form ng-submit='addRobot()'>
		<li>
			2) Create a robot entering its first position (x, y and orientation):
		</li>
		<li>
			<span>
				<input type="number" id='upperxinput' ng-model='firstX' min="1" max="{{upperX}}">
			</span>
			<span>
				<input type="number" id='upperyinput' ng-model='firstY' min="1" max="{{upperY}}">
			</span>
			<span>
				<select id='orientationinput' ng-model='firstOrientation'>
					<option value='1'>North</option>
					<option value='2'>East</option>
					<option value='3'>South</option>
					<option value='4'>West</option>
				</select>
			</span>
		</li>
		<li>
			<span>
				<input type='submit' id='robotsubmit'></input>
			</span>
		</li>
	</form>
</ul>
<p>3) Move the robots!</p>
<ul class='robot-list' ng-repeat='robot in robotsPositions'>
	<form ng-submit='updateRobot(robot._id, actionList)'>
		<li>
			Robot {{$index + 1}} list of moves:
		</li>
		<li>
			<input type='text' ng-model='actionList'>
		</li>
		<li>
			<span>
				<input type='submit'></input>
			</span>
			<span>
				<button ng-click='deleteRobot(robot._id)'>Delete</button>
			</span>
		</li>
		<li id='position{{$index + 1}}'>
			Robot {{$index + 1}} position: {{robot.position}}
		</li>
	</ul>
</form>
</ul>
