<ul>
	<li>
		Change the arena coordinates (width and length):
	</li>
	<li>
		<span>
			<input type='text' ng-model='upperX'>
		</span>
		<span>
			<input type='text' ng-model='upperY'>
		</span>
	</li>
	<li>
		<span>
			Arena size: {{upperX}} by {{upperY}}
		</span>
	</li>
</ul>
<ul>
	<form ng-submit='addRobot()'>
		<li>
			Create a robot entering its first position (x, y and orientation):
		</li>
		<li>
			<span>
				<input type='text' ng-model='firstX'>
			</span>
			<span>
				<input type='text' ng-model='firstY'>
			</span>
			<span>
				<select ng-model='firstOrientation'>
					<option value='1'>North</option>
					<option value='2'>East</option>
					<option value='3'>South</option>
					<option value='4'>West</option>
				</select>
			</span>
		</li>
		<li>
			<span>
				<input type='submit'></input>
			</span>
		</li>
	</form>
</ul>
<ul class='robot-list' ng-repeat='robot in robotsPositions'>
	<form ng-submit='updateRobot(robot._id, actionList)'>
		<li>
			Robot {{$index + 1}} list of moves:
		</li>
		<li>
			<input type='text' ng-model='actionList'>
		</li>
		<li>
			<input type='submit'></input>
		</li>
		<li class='position'>
			Robot {{$index + 1}} position: {{robot.position}}
		</li>
	</ul>
</form>
</ul>
