<ul>
	<li>
		Enter the arena coordinates (width and length):
	</li>
	<li>
		<span>
			<input type='text' ng-model='arenaX'>
		</span>
		<span>
			<input type='text' ng-model='arenaY'>
		</span>
	</li>
</ul>
<ul>
	<li>
		<span>
			Create a robot entering its first position (x, y and orientation):
		</span>
	</li>
	<li>
		<form ng-submit='addRobot()'>
			<span>
				<input type='text' ng-model='firstX'>
			</span>
			<span>
				<input type='text' ng-model='firstY'>
			</span>
			<span>
				<select ng-model='firstOrientation'>
					<option value='1'>N</option>
					<option value='2'>E</option>
					<option value='3'>S</option>
					<option value='4'>W</option>
				</select>
			</span>
			<span>
				<input type='submit'></input>
			</span>
		</form>
	</li>
</ul>
<ul class='robot-list' ng-repeat='robot in robotsPositions'>
	<form ng-submit='updateRobot(robot._id, actionList)'>
		<li>
			Robot list of moves:
		</li>
		<li>
			<input type='text' ng-model='actionList'>
		</li>
		<li>
			<input type='submit'></input>
		</li>
		<li class='position'>
			Robot {{$index + 1}} position: {{robot.position}}
		</li>
	</ul>
</form>
</ul>
